

@import 'variables';
@import 'atoms';
@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');



.summary {
 margin-top: 23em;
 font-size: larger;
  margin-left: 1em;
grid-row: 1;
grid-column: 2/5;
background-image: url(images/back2.jpg) ;
height: 300px;
text-shadow: #000  .4px .4px;


  a {
    color: $accent1; 
    :hover{
      color: rgb(255, 208, 216);
    font-size: 140px;
        
        transition: font-size 2s;
        margin: 50px auto 0;
    }
  }
}
.preamble {
  grid-row: 1/2;
  color: $text-dark;
  margin-top: 33em;
  text-shadow: #000  .4px .4px;

  margin-left: 1em;
    grid-column: 2/5;
    
  
}

main{
  h2{
    font-family: $pincipalfont;
  }

 
}





