@import 'variables';
@import 'atoms';
@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');

body{
  background-image: url(images/ornament.png);
}

.summary {

  font-size: larger;
  margin-left: .8em;
color: white;


 

  text-shadow: #000 .4px .4px;
  


  a {
    color: $accent1;

    :hover {
      color: rgb(255, 208, 216);
      font-size: 140px;

      transition: font-size 2s;
      margin: 50px auto 0;
    }
  }
}

.preamble {

  color: $text-dark;

  text-shadow: #000 .4px .4px;

  margin-left: 1em;
color: white;


}

main {

  h2 {
    font-family: $pincipalfont;
  }


}