$fonts-headline: 'Croissant One', cursive;;
$fonts-body:'Philosopher', sans-serif;;
$background-color: #ffffff;
$primary: #846060 ;
$accent1: #8acdcb;
$accent2: #4cbc79;
$accent3: #ebc9d3;
$grey-sidebar: #FA9BB7;
$text-dark: #060606 ;
$text-light: #fff;
$section-color:#323938;
$lcolor:#ffaec537;
$pincipalfont:  "Aokahori";
$asidefonts: 2em;
$asidecolor: #f5a6bda1;
$sideanimacolor: #f296b2ad;
$footer-color:#6f8b8be5;
$autors: rgb(150, 42, 42);

