$fonts-headline: 'Croissant One', cursive;;
$fonts-body:'Philosopher', sans-serif;;
$background-color: #ffffff;
$primary: #ffffff ;
$accent1: #669190;
$accent2: #4cbc79;
$grey-sidebar: #FA9BB7;
$text-dark: #060606 ;
$text-light: #fff;
$section-color:#4b5554;
$lcolor:#FA9BB7;
$pincipalfont:  "Aokahori";
$asidefonts: 2em;
$asidecolor: #f5a6bd49;
$sideanimacolor: #ff9cb9;