
@import "variables";
 @import "atoms";
@use "molecules";
@import "organisms";

* {
  box-sizing: border-box;
}
html {
  background-color: $background-color;
  padding: 5%;
}

body {
  font-family: $fonts-body;
  font-size: 85%;
  color: $text-dark;
  background-color: $primary;
  margin: 0;
  padding: 1em;
}

header{
  height: 400px;
  background-image: url(images/heade.jpg) ;
  margin: auto;
  border-radius: 15px;

h2, h1 {
  font-family: $pincipalfont;
}

h2{
  font-size: 50px;
  margin-left: 6em;
}
h1{
  margin-left: 1em;
  margin-top: 1.2em;
}

}

.page-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
 

  .intro{
    grid-column: 2/5;
  grid-row: 1;
  
  
  }

  .sidebar {
    grid-column: 1/2;
    grid-row: 1;
  margin-left: 1em;
  border: 2px solid #fff;
  border-radius: 10px;
  background-image: url(images/image1.jpg) ;
  margin-top: 3em;
  
  h3{
    font-family: $fonts-headline;
    font-size: x-large;
    text-align: center;
  }
nav{

  ul{
list-style:none ;
    :hover{
      width: 200px;
      height: 100px;
      border-radius: 10px;
      background: $sideanimacolor;
      transition: width 2s, height 2s, margin 2s;
      margin: 50px auto 0;
      font-size: 1.2em;
      font-family: $fonts-headline;
      background-image: url(images/image.jpg) ;



     }
      
  }

  li{
    background-color:$asidecolor;
    margin: 20px;
    font-size: $asidefonts;
    font-family: $fonts-body;
    border: 1px $grey-sidebar ;

    list-style-position:unset;
   

    a {
      color: inherit;
     
    }
    
    a {
      background:
        linear-gradient(
          to right,
          $asidecolor,
          $asidecolor
        ),
        linear-gradient(
          to right,
          $lcolor,
          $lcolor,
          $lcolor
      );
      background-size: 100% 3px, 0 3px;
      background-position: 100% 100%, 0 100%;
      background-repeat: no-repeat;
      transition: background-size 400ms;
    }
    
    a:hover {
      background-size: 0 3px, 100% 3px;
      color: #222020;
    }
    
 
     
    }
 
  }
  }

 
}
  
.zen-resources{
  ul{
    list-style:none ;
        :hover{
          width: 200px;
          height: 100px;
          border-radius: 10px;
          background: $sideanimacolor;
          transition: width 2s, height 2s, margin 2s;
          margin: 50px auto 0;
          font-size: 1.2em;
          font-family: $fonts-headline;
          background-image: url(images/image.jpg) ;
    
    
    
         }
          
      }
      li{
        background-color:$asidecolor;
        margin: 20px;
        font-size: $asidefonts;
        font-family: $fonts-body;
        border: 1px $grey-sidebar ;
    
        list-style-position:unset;
       
    
        a {
          color: inherit;
         
        }
        
        a {
          background:
            linear-gradient(
              to right,
              $asidecolor,
              $asidecolor
            ),
            linear-gradient(
              to right,
              $lcolor,
              $lcolor,
              $lcolor
          );
          background-size: 100% 3px, 0 3px;
          background-position: 100% 100%, 0 100%;
          background-repeat: no-repeat;
          transition: background-size 400ms;
        }
        
        a:hover {
          background-size: 0 3px, 100% 3px;
          color: #222020;
        }
        
     
         
        }
     
      }
      

