@import url("https://fonts.googleapis.com/css2?family=Croissant+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aclonica&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Philosopher&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Croissant+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aclonica&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Philosopher&display=swap");
h2 {
  margin: 0; }

h3,
h4 {
  margin: 0; }

h1 {
  font-size: 6em;
  color: #fff;
  display: inline-block;
  font-weight: normal; }

h2 {
  color: #fff;
  font-weight: 900;
  /* Heavy */
  letter-spacing: 1px;
  line-height: 1em; }

h3 {
  font-size: 2.25em;
  font-weight: 200;
  /* Thin */
  letter-spacing: 1px;
  line-height: 1em;
  padding: 0.5em 0 0.25em 0; }

h4 {
  font-size: 1.5em;
  font-weight: 200;
  /* Thin */
  letter-spacing: 1px;
  line-height: 1em;
  margin: 0.5em 0; }

p {
  padding: 0.5em 0;
  margin: 0; }

a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  color: #060606;
  text-decoration: none;
  transition: border-color 0.2s ease-in-out; }

a:hover {
  border-color: #669190; }

h2 {
  margin: 0; }

h3,
h4 {
  margin: 0; }

h1 {
  font-size: 6em;
  color: #fff;
  display: inline-block;
  font-weight: normal; }

h2 {
  color: #fff;
  font-weight: 900;
  /* Heavy */
  letter-spacing: 1px;
  line-height: 1em; }

h3 {
  font-size: 2.25em;
  font-weight: 200;
  /* Thin */
  letter-spacing: 1px;
  line-height: 1em;
  padding: 0.5em 0 0.25em 0; }

h4 {
  font-size: 1.5em;
  font-weight: 200;
  /* Thin */
  letter-spacing: 1px;
  line-height: 1em;
  margin: 0.5em 0; }

p {
  padding: 0.5em 0;
  margin: 0; }

a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  color: #060606;
  text-decoration: none;
  transition: border-color 0.2s ease-in-out; }

a:hover {
  border-color: #669190; }

.summary {
  font-size: larger;
  margin-left: .8em;
  background-image: url(images/back2.jpg);
  text-shadow: #000 .4px .4px; }
  .summary a {
    color: #669190; }
    .summary a :hover {
      color: #ffd0d8;
      font-size: 140px;
      transition: font-size 2s;
      margin: 50px auto 0; }

.preamble {
  color: #060606;
  text-shadow: #000 .4px .4px;
  background-image: url(images/back2.jpg);
  margin-left: 1em; }

main h2 {
  font-family: "Aokahori"; }

h2 {
  margin: 0; }

h3,
h4 {
  margin: 0; }

h1 {
  font-size: 6em;
  color: #fff;
  display: inline-block;
  font-weight: normal; }

h2 {
  color: #fff;
  font-weight: 900;
  /* Heavy */
  letter-spacing: 1px;
  line-height: 1em; }

h3 {
  font-size: 2.25em;
  font-weight: 200;
  /* Thin */
  letter-spacing: 1px;
  line-height: 1em;
  padding: 0.5em 0 0.25em 0; }

h4 {
  font-size: 1.5em;
  font-weight: 200;
  /* Thin */
  letter-spacing: 1px;
  line-height: 1em;
  margin: 0.5em 0; }

p {
  padding: 0.5em 0;
  margin: 0; }

a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  color: #060606;
  text-decoration: none;
  transition: border-color 0.2s ease-in-out; }

a:hover {
  border-color: #669190; }

h2 {
  margin: 0; }

h3,
h4 {
  margin: 0; }

h1 {
  font-size: 6em;
  color: #fff;
  display: inline-block;
  font-weight: normal; }

h2 {
  color: #fff;
  font-weight: 900;
  /* Heavy */
  letter-spacing: 1px;
  line-height: 1em; }

h3 {
  font-size: 2.25em;
  font-weight: 200;
  /* Thin */
  letter-spacing: 1px;
  line-height: 1em;
  padding: 0.5em 0 0.25em 0; }

h4 {
  font-size: 1.5em;
  font-weight: 200;
  /* Thin */
  letter-spacing: 1px;
  line-height: 1em;
  margin: 0.5em 0; }

p {
  padding: 0.5em 0;
  margin: 0; }

a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  color: #060606;
  text-decoration: none;
  transition: border-color 0.2s ease-in-out; }

a:hover {
  border-color: #669190; }

.summary {
  font-size: larger;
  margin-left: .8em;
  background-image: url(images/back2.jpg);
  text-shadow: #000 .4px .4px; }
  .summary a {
    color: #669190; }
    .summary a :hover {
      color: #ffd0d8;
      font-size: 140px;
      transition: font-size 2s;
      margin: 50px auto 0; }

.preamble {
  color: #060606;
  text-shadow: #000 .4px .4px;
  background-image: url(images/back2.jpg);
  margin-left: 1em; }

main h2 {
  font-family: "Aokahori"; }

@media only screen and (min-width: 2rem) {
  @keyframes grw2 {
    from {
      opacity: 1;
      color: #ff9cb9; }
    to {
      opacity: .5; }
    from {
      opacity: .5; }
    to {
      opacity: 1;
      color: #ff9cb9; } }
  .page-wrapper {
    display: grid; }

  .sidebar {
    grid-row: 1; }

  #zen-intro > header > img {
    grid-row: 2; }

  #zen-preamble {
    grid-row: 3; }

  #zen-supporting {
    grid-row: 4; }

  html {
    background-color: #ffffff; }

  body {
    font-family: "Philosopher", sans-serif;
    color: #060606;
    background-color: #d6d4d4;
    margin: 0;
    padding: 1em; }

  .intro .summary {
    margin-top: 1em;
    height: 110px; }
    .intro .summary a {
      color: #669190; }
      .intro .summary a :hover {
        color: #ffd0d8;
        font-size: 140px;
        transition: font-size 2s;
        margin: 50px auto 0; }
  .intro .preamble {
    grid-row: 1;
    margin-top: 0; }
  .intro header {
    height: 260px;
    background-image: url(images/heade.png);
    margin: 1em;
    border-radius: 7px;
    width: 97%; }
    .intro header h2, .intro header h1 {
      font-family: "Aokahori"; }
    .intro header h2 {
      font-size: 30px;
      margin-left: 1em; }
    .intro header h1 {
      margin-left: .3em;
      margin-top: 1.2em;
      font-size: 40px; }

  .sidebar {
    grid-row: 1;
    height: 40px;
    width: 40px;
    position: relative;
    left: 90%;
    margin-bottom: -10px;
    background-image: url(images/hamburger.png);
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #FDEDED; }

  .sidebar:hover {
    cursor: pointer;
    background-color: #ffd3d3; }

  .design-selection, .design-archives, .zen-resources {
    display: none; }

  .design-selection.active, .design-archives.active, .zen-resources.design-archives.active {
    display: block; }

  .sidebar.active {
    height: auto;
    width: 100%;
    position: relative;
    left: 0%;
    margin-bottom: -10px;
    background-image: url(images/hamburger.png);
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #FDEDED;
    border: 2px solid #fff;
    border-radius: 10px;
    background-image: url(images/image1.jpg);
    margin-top: 1em; }
    .sidebar.active h3 {
      font-family: "Croissant One", cursive;
      font-size: x-large;
      text-align: center; }
    .sidebar.active nav ul {
      list-style: none; }
      .sidebar.active nav ul :hover {
        width: 200px;
        height: 100px;
        border-radius: 10px;
        background: #ff9cb9;
        transition: width 1s, height 1s, margin 1s;
        margin: 50px auto 0;
        font-size: 1.2em;
        font-family: "Croissant One", cursive;
        background-image: url(images/image.jpg); }
    .sidebar.active nav li {
      background-color: #f5a6bd49;
      margin: 20px;
      font-size: larger;
      font-family: "Philosopher", sans-serif;
      border: 1px #FA9BB7;
      list-style-position: unset; }
      .sidebar.active nav li a {
        color: inherit; }
      .sidebar.active nav li a {
        background: linear-gradient(to right, #f5a6bd49, #f5a6bd49), linear-gradient(to right, #ffaec537, #ffaec537, #ffaec537);
        background-size: 100% 3px, 0 3px;
        background-position: 100% 100%, 0 100%;
        background-repeat: no-repeat;
        transition: background-size 400ms; }
      .sidebar.active nav li a:hover {
        background-size: 0 3px, 100% 3px;
        color: #222020; }
    .sidebar.active .zen-resources ul {
      list-style: none; }
      .sidebar.active .zen-resources ul :hover {
        width: 200px;
        height: 100px;
        border-radius: 10px;
        background: #ff9cb9;
        transition: width 2s, height 2s, margin 2s;
        margin: 50px auto 0;
        font-size: 1.2em;
        font-family: "Croissant One", cursive;
        background-image: url(images/image.jpg); }
    .sidebar.active .zen-resources li {
      background-color: #f5a6bd49;
      margin: 20px;
      font-size: x-large;
      font-family: "Philosopher", sans-serif;
      border: 1px #FA9BB7;
      list-style-position: unset; }
      .sidebar.active .zen-resources li a {
        color: inherit; }
      .sidebar.active .zen-resources li a {
        background: linear-gradient(to right, #f5a6bd49, #f5a6bd49), linear-gradient(to right, #ffaec537, #ffaec537, #ffaec537);
        background-size: 100% 3px, 0 3px;
        background-position: 100% 100%, 0 100%;
        background-repeat: no-repeat;
        transition: background-size 400ms; }
      .sidebar.active .zen-resources li a:hover {
        background-size: 0 3px, 100% 3px;
        color: #222020; } }
/* -------------------------------------------------------Medium  --------------------------------------------------------------*/
   /* @media only screen and (min-width: 35rem) {
    

  @keyframes grw2 {
    
    from {
      opacity: 1;
      color: $sideanimacolor;
    }

    to {
      opacity: .5;
    }

    from {
      opacity: .5;
      
    }

    to {
      opacity: 1;
      color: $sideanimacolor;
    }

  }



  body {
    font-family: $fonts-body;

    color: $text-dark;
    background-color: $lcolor;
    margin: 0;



  }


  .intro {
    .summary {
      margin-top: 1em;
      grid-row: 1;
      grid-column: 2/5;
      height: 110px;


      a {
        color: $accent1;

        :hover {
          color: rgb(255, 208, 216);
          font-size: 140px;

          transition: font-size 2s;
          margin: 50px auto 0;
        }
      }
    }

    .preamble {
      grid-row: 1;
      grid-column: 2/5;
      margin-top: 0;




    }

    header {
      width: 98%;
      height: 250px;
      background-image: url(images/heade.png);
      border-radius: 5px;
      grid-row: 1;
      grid-column: 1/5;
      z-index: 1;
      margin: auto;

      h2,
      h1 {
        font-family: $pincipalfont;
      }

      h2 {
        font-size: 40px;
        margin-left: 4em;
      }

      h1 {
        margin-left: 1em;
        margin-top: 1.2em;
        font-size: 40px;
      }

      h2 {
        abbr {
          
        font-size: 50px;
          animation-name:  grw2;
       
          animation:  grw2 3.5s infinite;
          

        }
      }
    }

  }


    }
    */
/* -----------------------------------------------Large ------------------------------------------------------------- */
    /*@media only screen and (min-width: 64rem) {
    
      @keyframes grw {
        from {
            transform: scale(0.5);
            opacity: .8;
        }
        to {
            transform: scale(1);
            opacity: 1;
        }
    }
    
    @keyframes grw2 {
        from {
            opacity: .5;
        }
        to {
            opacity: 1;
        }
    }





  html {
    background-color: $background-color;


  }

  body {
    font-family: $fonts-body;

    color: $text-dark;
    background-color: $lcolor;
    margin: 0;

  }

  .page-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;




    .intro {
      grid-column: 1/5;
      grid-row: 1;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;



      header {
        width: 98%;
        height: 400px;
        border-radius: 5px;
        grid-row: 1;
        background-image: url(images/heade.png);
        grid-column: 1/5;
        z-index: 1;
        margin: 1em;

        h2,
        h1 {
          font-family: $pincipalfont;
        }

        h2 {
          font-size: 70px;
          margin-left: 3em;
        }

        h1 {
          margin-left: 1em;
          margin-top: 1.2em;
          font-size: 80px;
        }

        h2 {
          abbr {
            
          font-size: 80px;
            animation-name: grw, grw2;
         
            animation: grw, grw2 3.5s infinite;
            

          }
        }
      }

    }

    .summary {
      margin-top: 23em;
      grid-row: 1;
      grid-column: 2/5;
      height: 300px;


      a {
        color: $accent1;

        :hover {
          color: rgb(255, 208, 216);
          font-size: 140px;

          transition: font-size 2s;
          margin: 50px auto 0;
        }
      }
    }

    .preamble {
      grid-row: 1/2;
      grid-column: 2/5;
      margin-top: 34em;
      height: 225px;



    }

    #zen-supporting {
      grid-row: 1;
      grid-column: 2/5;
      margin-top: 48em;
      margin-left: 1.5em;



      footer {

        text-align: center;

        grid-column: 1/5;
        margin-top: 1em;




        .zen-validate-html:hover,
        .zen-validate-css:hover,
        .zen-license:hover,
        .zen-accessibility:hover,
        .zen-github:hover
        {

        color: $footer-color;
        font-size: 50px;

        transition: font-size 1s;
        margin: 50px auto 0;

        animation-name: grw, grw2;
        animation-duration: .8s;

        animation-direction: alternate-reverse;
      }


      a {
        margin: 3em;
        font-size: 20px;
      }

    }


  }
}

.sidebar {
  grid-row: 1;
  grid-column: 1/2;
  margin-top: 27em;


  nav {
    ul {
      li {
        font-size: x-large;
        margin: 20px;
        border-radius: 5px;
      }
    }


  }



    }}*/

/*# sourceMappingURL=style.css.map */
