h2 {
  margin: 0; }

h3,
h4 {
  margin: 0; }

h1 {
  font-size: 6em;
  color: #fff;
  display: inline-block;
  font-weight: normal; }

h2 {
  color: #fff;
  font-weight: 900;
  /* Heavy */
  letter-spacing: 1px;
  line-height: 1em; }

h3 {
  font-size: 2.25em;
  font-weight: 200;
  /* Thin */
  letter-spacing: 1px;
  line-height: 1em;
  padding: 0.5em 0 0.25em 0; }

h4 {
  font-size: 1.5em;
  font-weight: 200;
  /* Thin */
  letter-spacing: 1px;
  line-height: 1em;
  margin: 0.5em 0; }

p {
  font-family: "Philosopher", sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  padding: 0.5em 0;
  margin: 0; }

a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  color: #060606;
  text-decoration: none;
  transition: border-color 0.2s ease-in-out; }

a:hover {
  border-color: #669190; }

@use "molecules";
.intro {
  padding: 5%; }

* {
  box-sizing: border-box; }

html {
  background-color: #ffffff;
  /*padding: 5%;*/
  /*Reserved for larger sizes*/ }

body {
  font-family: "Philosopher", sans-serif;
  font-size: 85%;
  color: #060606;
  background-color: #ffffff;
  margin: 0;
  padding: 1em; }

header {
  height: 400px;
  background-image: url(images/heade.jpg);
  margin: auto;
  border-radius: 15px; }
  header h2, header h1 {
    font-family: "Aokahori"; }
  header h2 {
    font-size: 50px;
    margin-left: 6em; }
  header h1 {
    margin-left: 1em;
    margin-top: 1.2em; }

#zen-intro {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  /*This is what's causing the weird gap*/ }

.sidebar {
  grid-row: 2; }

/*border: 2px solid #fff;
border-radius: 10px;
background-image: url(images/image1.jpg) ;
margin-top: 3em;*/
/*h3{
  font-family: $fonts-headline;
  font-size: x-large;
  text-align: center;
}*/
nav ul {
  list-style: none; }
  nav ul :hover {
    width: 200px;
    height: 100px;
    border-radius: 10px;
    background: #ff9cb9;
    transition: width 2s, height 2s, margin 2s;
    margin: 50px auto 0;
    font-size: 1.2em;
    font-family: "Croissant One", cursive;
    background-image: url(images/image.jpg); }
nav li {
  background-color: #f5a6bd49;
  margin: 20px;
  font-size: 2em;
  font-family: "Philosopher", sans-serif;
  border: 1px #FA9BB7;
  list-style-position: unset;
  /* a:hover {
     background-size: 0 3px, 100% 3px;
     color: #222020;
   }*/ }
  nav li a {
    color: inherit; }
  nav li a {
    background: linear-gradient(to right, #f5a6bd49, #f5a6bd49), linear-gradient(to right, #FA9BB7, #FA9BB7, #FA9BB7);
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms; }

.zen-resources ul {
  list-style: none; }
  .zen-resources ul :hover {
    width: 200px;
    height: 100px;
    border-radius: 10px;
    background: #ff9cb9;
    transition: width 2s, height 2s, margin 2s;
    margin: 50px auto 0;
    font-size: 1.2em;
    font-family: "Croissant One", cursive;
    background-image: url(images/image.jpg); }
.zen-resources li {
  background-color: #f5a6bd49;
  margin: 20px;
  font-size: 2em;
  font-family: "Philosopher", sans-serif;
  border: 1px #FA9BB7;
  list-style-position: unset; }
  .zen-resources li a {
    color: inherit; }
  .zen-resources li a {
    background: linear-gradient(to right, #f5a6bd49, #f5a6bd49), linear-gradient(to right, #FA9BB7, #FA9BB7, #FA9BB7);
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms; }
  .zen-resources li a:hover {
    background-size: 0 3px, 100% 3px;
    color: #222020; }

/*# sourceMappingURL=style.css.map */
