@import "variables";
@import "atoms";
@import "molecules";
@import "organisms";

@media only screen and (min-width: 2rem) {




html {
  background-color: $background-color;
  

}

body {
  font-family: $fonts-body;

  color: $text-dark;
  background-color: $primary;
  margin: 0;
  padding: 1em;
}


.intro{
  .summary {
   margin-top: 1em;
    grid-row: 1;
    grid-column: 2/5;
    height: 110px;
    
    
      a {
        color: $accent1; 
        :hover{
          color: rgb(255, 208, 216);
        font-size: 140px;
            
            transition: font-size 2s;
            margin: 50px auto 0;
        }
      }
    }
    .preamble {
      grid-row: 1;
        grid-column: 2/5;
        margin-top: 0;
       
       
        
      
    }
header
{
  height: 400px;
  background-image: url(images/heade.jpg);
  margin: 1em;
 
 

      h2, h1 {
        font-family: $pincipalfont;
      }

      h2{
        font-size: 50px;
        margin-left: 6em;
      }
      h1{
        margin-left: 1em;
        margin-top: 1.2em;
      }


}


}

.sidebar {

  grid-row: 2;


border: 2px solid #fff;
border-radius: 10px;
background-image: url(images/image1.jpg) ;
margin-top: 1em;

h3{
  font-family: $fonts-headline;
  font-size: x-large;
  text-align: center;
}
nav{

ul{
list-style:none ;
  :hover{
    width: 200px;
    height: 100px;
    border-radius: 10px;
    background: $sideanimacolor;
    transition: width 2s, height 2s, margin 2s;
    margin: 50px auto 0;
    font-size: 1.2em;
    font-family: $fonts-headline;
    background-image: url(images/image.jpg) ;



   }
    
}

li{
  background-color:$asidecolor;
  margin: 20px;
  font-size: larger;
  font-family: $fonts-body;
  border: 1px $grey-sidebar ;

  list-style-position:unset;
 

  a {
    color: inherit;
   
  }
  
  a {
    background:
      linear-gradient(
        to right,
        $asidecolor,
        $asidecolor
      ),
      linear-gradient(
        to right,
        $lcolor,
        $lcolor,
        $lcolor
    );
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
  }
  
  a:hover {
    background-size: 0 3px, 100% 3px;
    color: #222020;
  }
  

   
  }

}

  
.zen-resources{
  ul{
    list-style:none ;
        :hover{
          width: 200px;
          height: 100px;
          border-radius: 10px;
          background: $sideanimacolor;
          transition: width 2s, height 2s, margin 2s;
          margin: 50px auto 0;
          font-size: 1.2em;
          font-family: $fonts-headline;
          background-image: url(images/image.jpg) ;
    
    
    
         }
          
      }
      li{
        background-color:$asidecolor;
        margin: 20px;
        font-size: x-large;
        font-family: $fonts-body;
        border: 1px $grey-sidebar ;
    
        list-style-position:unset;
       
    
        a {
          color: inherit;
         
        }
        
        a {
          background:
            linear-gradient(
              to right,
              $asidecolor,
              $asidecolor
            ),
            linear-gradient(
              to right,
              $lcolor,
              $lcolor,
              $lcolor
          );
          background-size: 100% 3px, 0 3px;
          background-position: 100% 100%, 0 100%;
          background-repeat: no-repeat;
          transition: background-size 400ms;
        }
        
        a:hover {
          background-size: 0 3px, 100% 3px;
          color: #222020;
        }
        
     
         
        }
     
      }
      
    
    }
  }

  /* -------------------------------------------------------Medium  --------------------------------------------------------------*/

@media only screen and (min-width: 35rem) {



   

}



/* -----------------------------------------------Large ------------------------------------------------------------- */


@media only screen and (min-width: 64rem) {

  html {
    background-color: $background-color;
    
  
  }
  
  body {
    font-family: $fonts-body;
  
    color: $text-dark;
    background-color: $primary;
    margin: 0;
    
  }

.page-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

.intro{
  grid-column: 1/5;
  grid-row: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  

  
  header{
    width: 100%;
    border-radius: 5px;
    grid-row: 1;
    grid-column:1/5 ;
    z-index: 1;
    margin: 1em;

    h2{
      :hover{
        color: rgb(255, 208, 216);
      font-size: 140px;
          
          transition: font-size 2s;
          margin: 50px auto 0;
      }
    }
  }


 

  }
  .summary {
    margin-top: 23em;
   grid-row: 1;
   grid-column: 2/5;
   height: 300px;
  
   
     a {
       color: $accent1; 
       :hover{
         color: rgb(255, 208, 216);
       font-size: 140px;
           
           transition: font-size 2s;
           margin: 50px auto 0;
       }
     }
   }
   .preamble {
     grid-row: 1/2;
       grid-column: 2/5;
       margin-top: 33em;
       
   
     
   }
   
  
}

}

.sidebar{
  grid-row: 1;
  grid-column: 1/2;
  margin-top: 27em;
 

 nav{
  ul{
    li{
      font-size: x-large ;
      margin: 20px;
      border-radius: 5px;
    }
  }
 }

}


    



